@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0e2220; /*radial-gradient(circle at center, #07412f, #000303f1);  Radial gradient from #31333f to #000300 */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Scroll Bar for Home Page */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
}
.custom-image-container img {
  height: 12rem; /* Fixed height */
  width: 16rem; /* Fixed width */
  object-fit: contain; /* Ensures the entire image fits within the given dimensions without cropping, maintaining its aspect ratio */
  border-radius: 0.5rem; /* Optional: Adds rounded corners */
}
